.row {
    color: white;
}

.row__posters {
    display: flex;
    padding: 10px;
    overflow: scroll;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    margin-right: 5px;
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 200px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}

h3 {
    padding: 10px;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}